body {
    background-color: #8FB4AA;
}


.search {
    text-align: center;
}

.search * {
    border: 2px solid black;
    padding: 5px;
}

h1 {
    width: max-content;
    margin: 0 auto 1.5em;
}

html {
    visibility: visible;
    opacity: 1
}

a.tag {
    display: inline-block;
    background-color: #F0E68C;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
}
a.tag:hover {
    background-color: #D2B48C;
    text-decoration: none;
}

a.highlight { 
    background-color: #8FB4AA;
    color: #F0E68C;
}