body {
    background-color: #8FB4AA;
}


.search {
    text-align: center;
}

.search * {
    border: 2px solid black;
    padding: 5px;
}

h1 {
    width: max-content;
    margin: 0 auto 1.5em;
}

html {
    visibility: visible;
    opacity: 1
}
